<div class="box2">
  <h2>Request a Tour</h2>
  
  <p>Come see our classroom!</p>

  <a href="/tour">Request a Tour</a>
</div>

<div class="box2">
  <h2>Apply Online</h2>
  
  <p>Join our family!</p>
  
  <a href="/admissions">Apply today!</a>
</div>

<div class="social-media box">
  <h2>Follow us...</h2>
  
  <p>
    <a href="http://twitter.com/lighthouseschoo"><img src="/images/twitter.png"></a>
    <a href="http://www.facebook.com/pages/Lighthouse-Montessori-School/175505582479571"><img src="/images/facebook.png"></a>
    <!-- <a href="http://feeds.feedburner.com/LighthouseMontessoriBlog"><img src="/images/rss.png"></a> -->
  </p>
</div>
