<div class="box2">
  <h2>Free Parent Classes</h2>
  
  <p>We offer parent classes to the community</p>

  <a href="/parent_classes">Signup now!</a>
</div>

<div class="box2">
  <h2>Request a Tour</h2>
  
  <p>Observe the classroom!</p>
  
  <a href="/admissions">Apply today!</a>
</div>

<div class="social-media box">
  <h2>Follow us...</h2>
  
  <p>
    <a href="http://twitter.com/lighthouseschoo"><img src="/images/twitter.png"></a>
    <a href="http://www.facebook.com/pages/Lighthouse-Montessori-School/175505582479571"><img src="/images/facebook.png"></a>
    <!-- <a href="http://feeds.feedburner.com/LighthouseMontessoriBlog"><img src="/images/rss.png"></a> -->
  </p>
</div>
