<div class="footer">
  <div class="fixed">
    <a href="https://www.legup.care/seattle/ballard/daycare/lighthouse-montessori">Contact Us</a>ori”>
    <span class="sep">|</span> <span class="address">7005 24th Ave NW, Seattle</span>
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-11025364-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</div>
