<meta name="description" content="Lighthouse Montessori School in Seattle"/>
<meta name="keywords" content="montessori,school"/>
<meta name="author" content="Jeremy Lightsmith"/>
<meta charset="utf-8"> 

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<link  href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold&v1" rel="stylesheet" type="text/css" >

<link rel="stylesheet" href="/stylesheets/reset.css" media="all">
<link rel="stylesheet" href="/stylesheets/all.css" media="all">
<link rel="stylesheet" href="/stylesheets/print.css" media="print">

<script src="/javascripts/jquery.min.js"></script>
<!-- <script src="/javascripts/jquery_ujs.js"></script> -->
<script src="/javascripts/application.js"></script>
