<script type="text/javascript" charset="utf-8">
  var timeout    = 500;
  var closetimer = 0;
  var ddmenuitem = 0;

  function menu_open()
  {  menu_canceltimer();
     menu_close();
     ddmenuitem = $(this).find('ul').css('visibility', 'visible');}

  function menu_close()
  {  if(ddmenuitem) ddmenuitem.css('visibility', 'hidden');}

  function menu_timer()
  {  closetimer = window.setTimeout(menu_close, timeout);}

  function menu_canceltimer()
  {  if(closetimer)
     {  window.clearTimeout(closetimer);
        closetimer = null;}}

  $(document).ready(function()
  {  $('.menu > li').bind('mouseover', menu_open)
     $('.menu > li').bind('mouseout',  menu_timer)});

  document.onclick = menu_close;
</script>
<ul class="menu">
  <li>
    <a href="/about_us">Who We Are</a>
    <ul>
      <li><a href="/our_mission">Our Mission</a></li>
      <li><a href="/our_team">Our Team</a></li>
      <li><a href="/philosophy">Our Philosophy</a></li>
    </ul>
  </li>
  <li>
    <a href="/classroom">Classroom</a>
    <ul>
      <li><a href="/classroom">Overview</a></li>
      <li><a href="/classroom#the_child">The Child</a></li>
      <li><a href="/classroom#the_experience">The Experience</a></li>
    </ul>
  </li>
  <li>
    <a href="/admissions">Admissions</a>
    <ul>
      <li><a href="/admissions">Overview</a></li>
      <li><a href="/tuition">Program Logistics</a></li>
      <li><a href="/application_form">Apply Online</a></li>
    </ul>
  </li>
  <li>
    <a href="/get_involved">Connect</a></li>
    <ul>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/tour">Tour</a></li>
      <li><a href="/volunteer">Volunteer</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </li>
  <li>
    <a href="/give">Give</a>
    <ul>
      <li><a href="/give_now">Give Now</a></li>
      <li><a href="/scholarship">Scholarship</a></li>
      <li><a href="/annual_giving">Annual Giving</a></li>
    </ul>
  </li>
</ul>
<div class="clear"></div>
