$dark_blue: #0F2764
$mid_blue: #0C4F90 
$light_blue: #5D9BC6
$almost_white: #D8CAA3
$gray: #999
$dark_red: #B42B00


$fixed-width: 930px
$side-padding: 25px
$sidebar-width: ($fixed-width - 4 * $side-padding) / 3
