.home-page .banner {
  padding: 5px 0; }
  .home-page .banner img {
    width: 100%;
    height: auto; }
.home-page .column {
  width: 293.333px;
  float: left;
  margin-right: 25px; }
  .home-page .column.last {
    margin-right: 0; }
  .home-page .column h2 {
    margin: 0; }
.home-page .sidebar {
  border-top: none;
  width: 327px; }
  .home-page .sidebar .its-a-school {
    text-align: right; }
  .home-page .sidebar img {
    margin-bottom: 0.5em; }
.home-page .left-side {
  padding-top: 5em;
  margin: 0 627px 0 13px;
  text-align: justify; }
.home-page .actions {
  margin: 1em 0;
  text-align: right; }

/* home */
