.our-team .person-pic {
  display: block;
  text-decoration: none;
  font-weight: normal;
  color: black;
  position: relative;
  height: 210px; }
  .our-team .person-pic .about {
    position: absolute;
    bottom: 10px;
    left: 210px;
    font-size: 1.2em; }
  .our-team .person-pic img {
    width: 200px; }
  .our-team .person-pic h2 {
    margin: 0 0 10px; }
